body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
canvas {
  width: 800px;
  height: 800px;
  border: 1px solid black;
}
.color-box {
  display: flex;
  align-items: center;
}
.color-option {
  cursor: pointer;
  width: 50px;
  height: 50px;
}
